<!DOCTYPE html>
<head xmlns="http://www.w3.org/1999/html">
    <title>Pokesize!</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6477192538448766"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap" rel="stylesheet">

    <style>
        html {
            height: 100%;
            background: rgb(19,2,28);
            background: linear-gradient(37deg, rgba(19,2,28,1) 0%, rgba(73,40,114,1) 100%);
        }
        body {
            font-family: "Lexend", serif;

            font-size: 24px;
            color: white;
            height: 95vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        h1 {
            margin: 20px;
        }
        div {
            margin: 10px;
        }

        input {
            margin: 20px;
            min-height: 50px;
            min-width: 150px;
            background-color: black;
            border-radius: 15px;
            border: 2px solid white;
            font-size: 24px;
            color: white;
            font-family: "Lexend", serif;
        }
    </style>
</head>
<html>
<body>
<div class="container">
    <h1>Welcome to pokesize.site! THIS IS A TEST MESSAGE</h1>
    <div>This is an interactive tool to compare the heights of various Pokémon.</div>
    <div>Use the panel on the left to add or remove Pokémon, scroll wheel to zoom in and out, and drag to pan around.</div>
    <input type="submit" value="Enter Site." onclick="location.href='/compare'"/>
    <div>Mobile devices are not currently supported, but I will probably fix that eventually.</div>
</div>

<div style="margin-top: 40px" class="container">
    <div>Website made by <a href="https://www.youtube.com/@nintySW">Ninty</a>.</div>
    <div>Background by <a href="https://www.tumblr.com/nidoskull/">Nidoskull</a>.</div>
    <div>This website makes use of the <a href="https://pokeapi.co/">PokéAPI</a> and was written in <a href="https://foundation.rust-lang.org/">Rust</a> with <a href="https://rocket.rs/">Rocket</a> and <a href="https://crates.io/crates/rustemon">Rustemon</a>.</div>

</div>
</body>
</html>
